@import "./_reset.scss";

* {
    font-family: 'Inter', sans-serif;
}

.header {
    position: relative;
    &__wrapper {
        padding: 68px 0px 100px;
        background: linear-gradient(to right, #087990, #055160);
    }

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 72px;
        line-height: 87px;
        color: #CFF4FC;
        margin-bottom: 4px;
    }

    &__subtitle {
        text-align: center;
        font-weight: 400;
        font-size: 21px;
        line-height: 36px;
        color: #CFF4FC;
    }
}

.form-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 820px;
    max-height: 64px;
}

// .form {
   
// }

.input {
    width: 820px;
    height: 64px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-weight: 400;
    font-size: 24px;
    line-height: 21px;
    color: #ABB5BE;
    padding: 21.5px 32px;
}

@media (max-width: 992px) {
    .input {
        width: 600px;
        height: 64px;
    }
    
}

@media (max-width: 768px) {
    .input {
        width: 400px;
        height: 64px;
    }
    
}


// main

main {
    background-color:#EDEEF3;
}

.container {
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 986px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 19px;

    @media (max-width: 992px) {
        grid-template-columns: minmax(300px, 316px) minmax(300px, 316px);
        justify-content: center;
        
    }
    @media (max-width: 768px) {
        grid-template-columns: minmax(300px, 316px);
        justify-content: center;
        
    }
}

.card {
    padding: 24px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-width: 316px;
    min-height: 184px;

    &__img {
        padding-bottom: 18px;
        font-size: 48px;
    }

    &__title{
        padding-bottom: 12px;
        font-weight: 700;
        font-size: 17px;
        line-height: 28px;
        text-decoration-line: underline;
        color: #000000;
    }
    &__desc{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #3F444A;
        max-width: 260px;
        word-break: break-word;
    }
}